@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
      body {
        background-color: #ccc;
        font-family: "Oswald", sans-serif;
      }
      .wrapper{
          background-color: #fff;
          width: fit-content;
          padding: 40px;
          margin: auto;
          margin-top: 100px;
          border-radius: 10px;
          box-shadow: 5px 10px #888;
      }
      input[type="text"], input[type="password"]{
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }
      .btn{
          width: 100%;
          padding: 10px;
          background-color: rgb(18, 106, 221);
          border: none;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          border-radius: 4px;
      }
      a{
          text-decoration: none;
          text-align: center;
      }