<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Servlets.LoginEmployee</servlet-name>
    <servlet-class>Servlets.LoginEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.LoginEmployee</servlet-name>
    <url-pattern>/Servlets.LoginEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.LoginManager</servlet-name>
    <servlet-class>Servlets.LoginManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.LoginManager</servlet-name>
    <url-pattern>/Servlets.LoginManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.EmployeeLogout</servlet-name>
    <servlet-class>Servlets.EmployeeLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.EmployeeLogout</servlet-name>
    <url-pattern>/Servlets.EmployeeLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.ManagerLogout</servlet-name>
    <servlet-class>Servlets.ManagerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.ManagerLogout</servlet-name>
    <url-pattern>/Servlets.ManagerLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.EmployeeServlet</servlet-name>
    <servlet-class>Servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.EmployeeServlet</servlet-name>
    <url-pattern>/Servlets.EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>Servlets.EmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/Servlets.EmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.ManagerServlet</servlet-name>
    <servlet-class>Servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.ManagerServlet</servlet-name>
    <url-pattern>/Servlets.ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.ManagerProfile</servlet-name>
    <servlet-class>Servlets.ManagerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.ManagerProfile</servlet-name>
    <url-pattern>/Servlets.ManagerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.EmployeeList</servlet-name>
    <servlet-class>Servlets.EmployeeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.EmployeeList</servlet-name>
    <url-pattern>/Servlets.EmployeeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.AddEmployee</servlet-name>
    <servlet-class>Servlets.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.AddEmployee</servlet-name>
    <url-pattern>/Servlets.AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.UpdateEmployee</servlet-name>
    <servlet-class>Servlets.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.UpdateEmployee</servlet-name>
    <url-pattern>/Servlets.UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.DeleteEmployee</servlet-name>
    <servlet-class>Servlets.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.DeleteEmployee</servlet-name>
    <url-pattern>/Servlets.DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.EmployeeReimbursement</servlet-name>
    <servlet-class>Servlets.EmployeeReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.EmployeeReimbursement</servlet-name>
    <url-pattern>/Servlets.EmployeeReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlets.AddReimbursement</servlet-name>
    <servlet-class>Servlets.AddReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets.AddReimbursement</servlet-name>
    <url-pattern>Servlets.AddReimbursement</url-pattern>
  </servlet-mapping>
</web-app>
